<header id="header" class="alt">
  <h1><a href="index.html">200IQ</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="About.html">About</a></li>
                                  <li><a href="Contact.html">Contact</a></li>
            <li><a href="Tournments.html">Tournments</a></li>
            <li><a href="profile.html">Profile</a></li>
                                  <li><a href="Gallery.html">Gallery</a></li>
            <li><a href="signin.html">Sign Up</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h2>200IQ</h2>
    <p>An Exclusive E-gaming website<br />
    Participate with your team and win Prize Money<br />
    organised by <a href="http://www.200iq.in">200IQ</a>.</p>
    <ul class="actions special">
      <li><a href="signin.html" class="button primary">Sign-In</a></li>
    </ul>
  </div>
  <a href="#one" class="more scrolly">Learn More</a>
</section>



<!-- Two -->
<section id="two" class="wrapper alt style2">
  <section class="spotlight">
    <div class="image"><img src="src\assets\images\pic03.jpg" alt="" /></div><div class="content">
      <h2>battle grounds mobile india<br />
      </h2>
      <p>Battlegrounds Mobile India is a region-specific game that Krafton announced earlier this month. The game was created for players in India and will boast its own esports ecosystem, with tournaments and leagues set to take place in the country.</p>
    </div>
  </section>
  <section class="spotlight">
    <div class="image"><img src="src\assets\images\pic02.jpg" alt="" /></div><div class="content">
      <h2>Call of duty-<br />
             Cod</h2>
      <p>Call of Duty 2 is a 2005 first-person shooter video game developed by Infinity Ward and published by Activision in most regions of the world. It is the second installment of the Call of Duty series</p>
    </div>
  </section>
  <section class="spotlight">
    <div class="image"><img src="src\assets\images\freefire.jpg" alt="" /></div><div class="content">
      <h2>Garena<br />
      Free Fire</h2>
      <p>Garena Free Fire is an online-only action-adventure battle royale game played in a third person perspective.

The game consists of up to 50 players falling from a parachute on an island in search of weapons and equipment to kill the other players. Players are free to choose their starting position, take weapons and supplies to extend their battle life.</p>
    </div>
  </section>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
  <div class="inner">
    <header>
      <h2>200iq YouTube channel</h2>
      <p>Every Game streams here </p>
    </header>
    <ul class="actions stacked">
      <li><a href="https://www.youtube.com/Narayana KNR?v=TmBNFVzPbGY" class="button fit primary">Subscribe</a></li>
      
    </ul>
  </div>
</section>

<footer id="footer">
  <ul class="icons">
    <li><a href="https://youtube.com/channel/UCFZKJUQpYrSj5Pl9sW6eHeg" class="icon brands fa-youtube"><span class="label">Youtube</span></a></li>
    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
    <li><a href="https://www.instagram.com/200iq.in/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="https://discord.gg/sYj7JYesmn" class="icon brands fa-discord"><span class="label">Discord</span></a></li>
    <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; 2021 All rights reserved</li><li>Design & Developed by: <a href="https://www.linkedin.com/in/narayana-knr-73494a122/">KNR TECH</a></li>
  </ul>
</footer>